{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="media stream">
    <a href="#" class="media-avatar medium pull-left">
        <img src="images/user.png">
    </a>
    <div class="media-body">
        <div class="stream-headline">
            <h5 class="stream-author">
                FROM: {{mails.sender}}
                <br>
                <small>{{mails.created}}</small>
            </h5>
            <h5 class="stream-author">
                    TO: {{mails.assign_to}}
                    <br>
                    <small>subject: {{mails.subject}}</small>
                </h5>
            <div class="stream-text">
                 {{mails.content}}
            </div>
            <div class="stream-attachment photo">
                <div class="responsive-photo">
                        <iframe width='1000' height='800' src={% static "images/my-cv.pdf" %} frameborder='0' allowfullscreen></iframe>
                </div>
            </div>
        </div><!--/.stream-headline-->
    </div>
</div> 

{% endblock  %}
    